name: CI projeto

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Usar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      # Backend
      - name: Instalar backend
        run: npm install

      # Frontend
      - name: Instalar frontend
        run: npm install
        working-directory: ./sistema-de-vendas

      - name: Verificar código deprecado
        run: npm run lint:deprecation
        working-directory: ./sistema-de-vendas 

      - name: Verificar padrão de codificação (ESLint)
        run: npm run lint
        working-directory: ./sistema-de-vendas

      - name: Build frontend
        run: npm run build
        working-directory: ./sistema-de-vendas

      #  OWASP Dependency Check
      - name: Analisar dependências com OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "sistema-de-vendas"
          path: "./sistema-de-vendas"
          format: "HTML"
          out: "reports"
          failBuildOnCVSS: 7 

      - name: Upload do relatório de vulnerabilidades
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports/
