name: CI projeto

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Usar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # Backend
      - name: Instalar backend
        run: npm install

      - name: Verificar duplicação de código (jscpd)
        run: npm run check-duplication

      # Frontend
      - name: Instalar frontend
        run: npm install
        working-directory: ./sistema-de-vendas

      - name: Gerar diagrama de classes UML Alterado
        working-directory: ./sistema-de-vendas
        run: |
          mkdir -p ../reports/uml
          rm -f ../reports/uml/diagram.svg
          npm ci
          npm run generate-uml
          echo "Diagram files:"
          ls -la ../reports/uml || true
          echo "Checksum (sha256):"
          sha256sum ../reports/uml/diagram.svg || true

      - name: Upload do diagrama UML
        uses: actions/upload-artifact@v4
        with:
          name: uml-diagram
          path: reports/uml/diagram.svg

      - name: Verificar formatação (frontend)
        run: npm run format:check
        working-directory: ./sistema-de-vendas

      - name: Verificar código deprecado
        run: npm run lint:deprecation
        working-directory: ./sistema-de-vendas

      - name: Analisar Code Smells (SonarJS)
        run: npm run lint:code-smells:report
        working-directory: ./sistema-de-vendas
        continue-on-error: true

      - name: Build frontend
        run: npm run build
        working-directory: ./sistema-de-vendas

      #  OWASP Dependency Check
      - name: Analisar dependências com OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'sistema-de-vendas'
          path: './sistema-de-vendas'
          format: 'HTML'
          out: 'reports'
          failBuildOnCVSS: 7

      - name: Upload do relatório de vulnerabilidades
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports/

      - name: Run lint
        run: npm run lint
        working-directory: ./sistema-de-vendas
